<div class="row g-0">
    <h1 id="rprojects">Proyectos realizados</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h2>Portfolio Web</h2>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque vero neque est, natus culpa ex ratione totam doloremque velit vitae rem amet distinctio veniam eveniet dolor debitis sed accusantium eum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae quam id voluptatum eum provident iste, nam alias doloremque iusto magnam consequuntur deserunt optio perspiciatis possimus mollitia nihil commodi earum maxime.</p>
        </ul>
    </div>
</div>