.row{
    padding: 20px;
    margin-top: 40px;
}
div {
    background-color: rgb(105, 8, 61);
    color: white;
}

td{
    color: white;
    text-align: left;
}

#rprojects{
    color: thistle;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}