.row{
    padding: 20px;
}
div {
    background-color: rgb(105, 8, 61);
    color: white;
}

td{
    color: white;
    text-align: left;
}

h4{
    font-size: smaller;
    color: lightblue;
    margin-top: -8px;
}

#explab{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: thistle;
}