<div class="row col-lg-6">
    <h1 id="explab">Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h2>AYUDANTE</h2>
                <h4>2015-2018</h4>
            </li>
            <p>Ayudante de Técnico instalador de sistemas de calefacción, aire acondicionado y ventilación.</p>
            <li>
                <h2>JARDÍN URBANO SHOP</h2>
                <h4>2017-ACTUAL</h4>
            </li>
            <p>Empresa familiar de artículos de jardinería. Encargado de ventas en internet, manejo de redes sociales, organización de mercadería y envíos.</p>
        </ul>
    </div>
</div>