<div class="row">
    <div class="col-lg-6"></div>
    <div id="columnaeduc" class="col-lg-6">
        <ul dir="rtl">
            <h1 id="educ"><i class="bi bi-book-half"></i> Educación</h1>
            <div class="col-lg-3">
                <button type="button" class="btn btn-success" routerLink="/nuevaedu" *ngIf="isLogged">
                    <i class="bi bi-plus-circle"></i> Agregar educación
                </button>
            </div>
        </ul>
        <div class="col-lg-1"></div>
        <div class="col-lg-12">
            <table class="table">
                <tbody>
                    <tr *ngFor="let Educacion of educacion">
                        <td>
                            <h2>{{Educacion.nombreE}}</h2>
                        </td>
                        <td>{{Educacion.descripcionE}}</td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-warning" routerLink="/editedu/{{Educacion.id}}">
                                <i class="bi bi-wrench-adjustable"></i>EDITAR</button>
                        </td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Educacion.id)">
                                <i class="bi bi-trash-fill"></i>BORRAR</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>