<div class="row">
    <div class="col-lg-6"></div>
    <div id="columnaeduc" class="col-lg-6">
        <ul dir="rtl">
            <h1 id="educ">Educación</h1>
            <li>
                <h2>ESTUDIOS PRIMARIOS</h2>
                <h4>2003-2009</h4>
            </li>
            <p>Escuela Ingeniero Pico N°10 D.E. 11</p>
            <li>
                <h2>ESTUDIOS SECUNDARIOS</h2>
                <h4>2010-2014</h4>
            </li>
            <p>Instituto Nuestra Señora del Milagro (A-98)</p>
            <p class="carreras">Bachiller con capacitación laboral como auxiliar en Comercio Exterior</p>
            <li>
                <h2>CURSO DE IDIOMA INGLÉS C.E.C.I.E</h2>
                <h4>2007-2012</h4>
            </li>
            <p>Escuela Ingeniero Pico N°10 D.E. 11</p>
            <li>
                <h2>CURSO DE IDIOMA PORTUGUÉS</h2>
                <h4>2011-2012</h4>
            </li>
            <p>Instituto Nuestra Señora del Milagro (A-98)</p>
            <li>
                <h2>ESTUDIOS TERCIARIOS</h2>
                <h4>2018-2020</h4>
            </li>
            <p>Instituto Gastronómico Internacional (I.G.I.)</p>
            <p class="carreras">Profesional gastronómico nacional e internacional</p>
        </ul>
    </div>
</div>