<div class="row">
  <h1 id="hys"><i class="bi bi-bar-chart-fill"></i> Hard & Soft skills</h1>
  <div class="text-center col-sm-5 col-md-4 col-lg-3">
    <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'white'"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'40px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'deeppink'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-5 col-md-4 col-lg-3">
    <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'CSS'"
        [titleColor]="'white'"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'40px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'deeppink'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-5 col-md-4 col-lg-3">
    <circle-progress
        [percent]="70"
        [radius]="100"
        [title]="'JS'"
        [titleColor]="'white'"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'40px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'deeppink'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-5 col-md-4 col-lg-3">
    <circle-progress
        [percent]="70"
        [radius]="100"
        [title]="'GIT'"
        [titleColor]="'white'"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'40px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'deeppink'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-5 col-md-4 col-lg-3">
    <circle-progress
        [percent]="80"
        [radius]="100"
        [title]="'ANGULAR'"
        [titleColor]="'white'"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'22px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'deeppink'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-5 col-md-4 col-lg-3">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'PHOTOSHOP'"
        [titleColor]="'white'"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'22px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'deeppink'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-5 col-md-4 col-lg-3">
    <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'HARDWARE'"
        [titleColor]="'white'"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'23px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'deeppink'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-5 col-md-4 col-lg-3">
    <circle-progress
        [percent]="93"
        [radius]="100"
        [title]="'INGLÉS'"
        [titleColor]="'white'"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'36px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'deeppink'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-5 col-md-4 col-lg-3">
    <circle-progress
        [percent]="50"
        [radius]="100"
        [title]="'FRANCÉS'"
        [titleColor]="'white'"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'30px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'deeppink'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-5 col-md-4 col-lg-3">
    <circle-progress
        [percent]="50"
        [radius]="100"
        [title]="'PORTUGUÉS'"
        [titleColor]="'white'"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'22px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'deeppink'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-5 col-md-4 col-lg-3">
    <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'COOPERACIÓN'"
        [titleColor]="'white'"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'20px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'deeppink'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-5 col-md-4 col-lg-3">
    <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'COMPROMISO'"
        [titleColor]="'white'"
        [titleFontWeight]="'bold'"
        [titleFontSize]="'20px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="25"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'deeppink'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>
</div>